<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>手写数字识别</title>
        <script src="/static/jquery-3.2.1.min.js"></script>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body style="height: 100%">
        <br>
        <div class="title">手写数字识别</div>
        <br>
        <div class="CanvasContainer">
            <canvas id="drawingCanvas" width="500" height="200" style="border: solid 2px"></canvas>
        </div>
        <br>
        <div class="Toolbar">
            <div class="button blue" onclick="saveCanvas()">识别数字</div>
            <div class="button blue" onclick="clearCanvas()" style="margin-left: 50px">清除数字</div>
        </div>
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div class="result">
            <div id="fnn"></div>
            <br>
            <div id="cnn"></div>
        </div>
        <script src="/static/main.js" type="application/javascript"> </script>
    </body>
</html>